<div class="row">
    <div class="col-md-3">
        <!-- category component -->
        <app-book-category></app-book-category>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="cartItems.length > 0">
                    <table class="table table-bordered">
                        <thead class="bg-dark text-light">
                            <tr>
                                <td width="20%">Book Image</td>
                                <td width="50%">Book Details</td>
                                <td width="30%"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cartItem of cartItems">
                                <td>
                                    <a routerLink="/books/{{cartItem.id}}">
                                        <img [src]="cartItem.imageUrl" class="img-responsive" width="150" height="200" />
                                    </a>
                                </td>
                                <td>
                                    <p>{{ cartItem.name }}</p>
                                    <p>{{ cartItem.unitPrice | currency: 'INR' }}</p>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>Quantity: 
                                                <span class="pointer" (click)="decrementQuantity(cartItem)">
                                                    <i class="fa fa-minus-circle fa-lg" title="decrease quantity"></i>
                                                </span>
                                                {{ cartItem.quantity }}
                                                <span class="pointer" (click)="incrementQuantity(cartItem)">
                                                    <i class="fa fa-plus-circle fa-lg" title="increase quantity"></i>
                                                </span>
                                                <span class="pointer" (click)="deleteItem(cartItem)">
                                                    <i class="fas fa-trash-alt fa-lg" title="delete item"></i>
                                                </span>
                                            </p>
                                        </div>
                                        
                                        <div class="col-md-12 mt-2">
                                            <p>Subtotal: {{ cartItem.quantity * cartItem.unitPrice | currency: 'INR' }}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="font-weight-bold">
                                    <p>Total quantity: {{ totalQuantity }}</p>
                                    <p>Shipping: FREE</p>
                                    <p>Total price: {{ totalPrice | currency: 'INR' }}</p>
                                    <a routerLink="/checkout" class="btn btn-primary float-right">Checkout</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="cartItems.length == 0" class="alert alert-warning" role="alert">
                    Your cart is empty.
                </div>
            </div>
        </div>
    </div>
</div>